### Sets in Python
* Duplicates are note allowed
* Unordered
* Useful for membership tests, eleminating duplicate elements, mathematical operations `(like union, intersection, difference and symetric difference)`

In [1]:
# Create a set

my_set = {1, 2, 3, 4, 5, 6, 8}
print(my_set, type(my_set))

{1, 2, 3, 4, 5, 6, 8} <class 'set'>

In [2]:
my_empty_set=set()
type(my_empty_set),my_empty_set

(set, set())

In [3]:
lst=[1, 2, 3, 4]
list_to_set1 = set(lst)
list_to_set2 =set([4,5,6,7])

print(f"list_to_set1 : {list_to_set1}\nlist_to_set2 : {list_to_set2}")

list_to_set1 : {1, 2, 3, 4}
list_to_set2 : {4, 5, 6, 7}

In [4]:
# Basic sets operations
## Adding and removing element
my_set

{1, 2, 3, 4, 5, 6, 8}

In [5]:
my_set.add(7)

In [6]:
my_set.add(7) #ignore duplicates
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
my_set.remove(3)
my_set

{1, 2, 4, 5, 6, 7, 8}

In [8]:
# Removing element which is not present will give an error(more specifically KeyError)
# my_set.remove(10)

In [9]:
# To ignote the error
my_set.discard(10) # It will rwmove the element if present else ignore
my_set

{1, 2, 4, 5, 6, 7, 8}

In [10]:
# pop method : remove first element from the set
my_set.pop()
my_set

{2, 4, 5, 6, 7, 8}

In [11]:
my_set.pop()
my_set

{4, 5, 6, 7, 8}

In [12]:
## Clear all the elements from the set
my_set.clear()
my_set

set()

In [13]:
# Set membership test

my_set ={1,2,3,4,5,6}
print(3 in my_set)
print(7 in my_set)

True
False

In [14]:
# Mathematical operations
set1 ={1,2,3,4,5,6}
set2={3,4,5,6,7,8,9}
print(f"Set1 = {set1}\nSet2 = {set2}")
# Union
union_set = set1.union(set2)
print(f"Union set = {union_set}")

# Intersection
intersection_set = set1.intersection(set2)
print(f"Intersection set = {intersection_set}")

# Difference
difference1 =set1.difference(set2)
difference2 = set2.difference(set1)
print(f"set1 difference set2 = {difference1}\nSet2 difference set1 = {difference2}")

# inrtersection_update(), difference_update()
set1.intersection_update(set2)
print(f"set1 after intersectuin_update() : {set1}")
print(f"set2 after difference_update() : {set2.difference_update(set1)}")
print(f"set1 symetric difference {set1.symmetric_difference(set2)}")
print(f"set1 after symetric_difference_update() : {set1.symmetric_difference_update(set2)}")

Set1 = {1, 2, 3, 4, 5, 6}
Set2 = {3, 4, 5, 6, 7, 8, 9}
Union set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection set = {3, 4, 5, 6}
set1 difference set2 = {1, 2}
Set2 difference set1 = {8, 9, 7}
set1 after intersectuin_update() : {3, 4, 5, 6}
set2 after difference_update() : None
set1 symetric difference {3, 4, 5, 6, 7, 8, 9}
set1 after symetric_difference_update() : None

In [15]:
# some sets methods
set1 = {1,2,3}
set2 = {3,4,5}

# issubset(), issuperset()
print(f"is set1 a subset of set2 :{set1.issubset(set2)}")
print(f"is set1 a superset of set2 :{set1.issuperset(set2)}")

is set1 a subset of set2 :False
is set1 a superset of set2 :False

In [16]:
# Remove duplicates from  list by converting it to set
lst = [1,2,3,2,4,4,5]
lst = list(set(lst))
print(f"List after removing duplicates: {lst}")

List after removing duplicates: [1, 2, 3, 4, 5]

In [17]:
# Counting unique word in text

text = "In this tutorial we are discussing about sets"
words = text.split(sep=' ')
# Convert list to set to get unique words
unique_words = set(words)
print(f"Unique words in the text : {unique_words}\nNumber of unique words in the text : {len(unique_words)}.")

Unique words in the text : {'we', 'about', 'sets', 'discussing', 'this', 'tutorial', 'In', 'are'}
Number of unique words in the text : 8.

### Dictinary In Python

In Python Dictonary are :
* Mutable (we can add, update or delete elements)
* Unordered collections of items
* Dictonary store data in key, value pairs `(Example: {Key1 : value1, key2 : value2})`
* keys are always unique and value can be any type

In [18]:
# Creating Dictonary
empty_dict1 = {}
empty_dict2 = dict()
print(f" Empty dict 1 and 2 : {empty_dict1, empty_dict2}\n types : {type(empty_dict1), type(empty_dict2)}")

 Empty dict 1 and 2 : ({}, {})
 types : (<class 'dict'>, <class 'dict'>)

In [19]:
# Creating a dictonary
student = {"name":"Samitinjay",
           "age": 25,
           "grade":'A'}
print(f"Student details in a dict : {student}\n type : {type(student)}")

Student details in a dict : {'name': 'Samitinjay', 'age': 25, 'grade': 'A'}
 type : <class 'dict'>

In [20]:
# Duplicate keys problem
student = {"name":"samit",
           "age":24,
           "grade":"A",
           "name":"sam"} # Take the last value in case of same key present in the dict
print(student)

{'name': 'sam', 'age': 24, 'grade': 'A'}

In [21]:
# Accessig dict elements
student = {"name":"samitinjay",
           "age":24,
           "grade":"A"}

print(f"Accessing the grade: {student["grade"]} ")
print(f"Age: {student["age"]}")

# Another method `get()`
print(f"Grade using get(): {student.get("grade")}")
# Accessing the element i.e not available in the dict
print(f"Last name using get() : {student.get("last_name")}")
# print(f"nLast name using [] : {student["last_name"]}") # KeyError: 'last_name'
print(f"Last name using get() if None set to 'not available' : {student.get("last_name","not available")}")

# Modifying dict elements
print(f"student dict : {student}")
# Add a new key
student["address"] = "India"
print(f"Student after adding addtess : {student}")
# Update
student["age"] = 25
print(f"Student After updating age : {student}")
# Delete a key
del student["grade"] # Give error if not present
print(f"student After deleting grade key (key:value) : {student}")

Accessing the grade: A
Age: 24
Grade using get(): A
Last name using get() : None
Last name using get() if None set to 'not available' : not available
student dict : {'name': 'samitinjay', 'age': 24, 'grade': 'A'}
Student after adding addtess : {'name': 'samitinjay', 'age': 24, 'grade': 'A', 'address': 'India'}
Student After updating age : {'name': 'samitinjay', 'age': 25, 'grade': 'A', 'address': 'India'}
student After deleting grade key (key:value) : {'name': 'samitinjay', 'age': 25, 'address': 'India'}

In [22]:
# Dictonary methods

keys = student.keys()
values = student.values()
print(f"keys : {keys}\nValues : {values}")
print(f"Types : {type(keys),type(values)}")


# Get key, value pairs in the  form of list of tuples `e.g. -[(),(),()...]`

items = student.items()
print(f"All items in the form of list of tuples : {items}")


# Copy and shallow copy

student_copy = student
print(f"student_copy : {student_copy}")
student["name"] = "samitinjay Mishra"
# Also copy the updated name of student
print(f"student_copy after updating student dict : {student_copy}")


# Shallow_copy()

student_shallow_copy = student.copy()
student["name"] = "samitinjay"
print(f"Student dict : {student}")
print(f"student_shallow_copy after updating student dict : {student_shallow_copy}")

keys : dict_keys(['name', 'age', 'address'])
Values : dict_values(['samitinjay', 25, 'India'])
Types : (<class 'dict_keys'>, <class 'dict_values'>)
All items in the form of list of tuples : dict_items([('name', 'samitinjay'), ('age', 25), ('address', 'India')])
student_copy : {'name': 'samitinjay', 'age': 25, 'address': 'India'}
student_copy after updating student dict : {'name': 'samitinjay Mishra', 'age': 25, 'address': 'India'}
Student dict : {'name': 'samitinjay', 'age': 25, 'address': 'India'}
student_shallow_copy after updating student dict : {'name': 'samitinjay Mishra', 'age': 25, 'address': 'India'}

In [23]:
# Iterating over dict

# using loops iterating a dictonary
# Over keys
print("Over dict.keys() : ")
for keys in student.keys():
  print(keys)

# Over values
print("Over dict.values():")
for values in student.values():
  print(values)
"""
Syntax:
for key, value in dict_name:
    #code
"""
# Over items
print("Over dict.items():")
for key, value in student.items():
  print(key,value)

Over dict.keys() :
name
age
address
Over dict.values():
samitinjay
25
India
Over dict.items():
name samitinjay
age 25
address India

In [24]:
student.items()

dict_items([('name', 'samitinjay'), ('age', 25), ('address', 'India')])

In [25]:
# Nested dict
students = {
  "student1":{
    "name":"samitinjay",
    "age":24,
    "grade":{
      "C":"O",
      "Jave":"A",
      "Python":"O"
    }
  },
  "student2":{
    "name":"samit",
    "age":25,
    "grade":{
      "C":"A",
      "Jave":"O",
      "Python":"A"
    }
  },
  "student3":{
    "name":"Sam",
    "age":23,
    "grade":{
      "C":"A",
      "Jave":"O",
      "Python":"A"
    }
  }
}
students

{'student1': {'name': 'samitinjay',
  'age': 24,
  'grade': {'C': 'O', 'Jave': 'A', 'Python': 'O'}},
 'student2': {'name': 'samit',
  'age': 25,
  'grade': {'C': 'A', 'Jave': 'O', 'Python': 'A'}},
 'student3': {'name': 'Sam',
  'age': 23,
  'grade': {'C': 'A', 'Jave': 'O', 'Python': 'A'}}}

In [26]:
# Accessing Nested dict elements
print(students["student1"])
print(students['student1']["grade"])
print(students["student1"]["grade"]["Python"])

{'name': 'samitinjay', 'age': 24, 'grade': {'C': 'O', 'Jave': 'A', 'Python': 'O'}}
{'C': 'O', 'Jave': 'A', 'Python': 'O'}
O

In [27]:
# Iterating over nested dict
for student_id, student_info in students.items():
  print(f" Student id : {student_id}\nStudent info: \n{student_info}")
  print("\n")
  for key,value in student_info.items():
    print(f"{key} - {value}")
  for subject, grade in student_info["grade"].items():
    print(f" Subject : {subject} --> Grade: {grade}")

 Student id : student1
Student info:
{'name': 'samitinjay', 'age': 24, 'grade': {'C': 'O', 'Jave': 'A', 'Python': 'O'}}


name - samitinjay
age - 24
grade - {'C': 'O', 'Jave': 'A', 'Python': 'O'}
 Subject : C --> Grade: O
 Subject : Jave --> Grade: A
 Subject : Python --> Grade: O
 Student id : student2
Student info:
{'name': 'samit', 'age': 25, 'grade': {'C': 'A', 'Jave': 'O', 'Python': 'A'}}


name - samit
age - 25
grade - {'C': 'A', 'Jave': 'O', 'Python': 'A'}
 Subject : C --> Grade: A
 Subject : Jave --> Grade: O
 Subject : Python --> Grade: A
 Student id : student3
Student info:
{'name': 'Sam', 'age': 23, 'grade': {'C': 'A', 'Jave': 'O', 'Python': 'A'}}


name - Sam
age - 23
grade - {'C': 'A', 'Jave': 'O', 'Python': 'A'}
 Subject : C --> Grade: A
 Subject : Jave --> Grade: O
 Subject : Python --> Grade: A

In [28]:
# Dict comphrehension
squares = {x:x**2 for x in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [29]:
# With conditions
even_squares = {x:x**2 for x in range(10) if x%2==0}
even_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [30]:
# Count the frequency of elements in a list

numbers = [1,2,3,2,3,4,4,4,5,6,2,2,4,4,4,4,4,5,6,9,2,2,2,2,2,2]
frequency ={}
for number in numbers:
  if number in frequency:
    frequency[number] += 1
  else:
    frequency[number] = 1

print(frequency)

{1: 1, 2: 10, 3: 2, 4: 8, 5: 2, 6: 2, 9: 1}

In [31]:
# Merge two dict into one
dict1 = {
  "a":1,
  "b":2
}
dict2 = {
  "b":3,
  "c":4
}

merged_dict = {**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [32]:
#Merging lists
lst1=[1,2,3]
lst2=[3,4,5]
merged_lst = [*lst1,*lst2]
print(merged_lst)

[1, 2, 3, 3, 4, 5]

In [33]:
merged_lst1 = [lst1,lst2]
print(merged_lst1)

[[1, 2, 3], [3, 4, 5]]

In [34]:
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

### Real World use cases of lists
#### 1. Manage a To Do list

In [35]:
 # Create a To Do list to keep track of tasks
to_do_list = ["Buy Groceries", "Clean the house", "Pay bills"]

# Adding task to the list

to_do_list.append("Shhedule Meeting")
to_do_list.append("Go for a run")

# Removing task from the list

to_do_list.remove("Clean the house")

# Checking if the task is in the list
if "Pay bills" in to_do_list:
  print("Don't forget to pay the bills.")

# Check the remaining tasks
print(f"Remaining tasks")
task_count =1
for task in to_do_list:
  print(f"{task_count} : {task}")
  task_count+=1

Don't forget to pay the bills.
Remaining tasks
1 : Buy Groceries
2 : Pay bills
3 : Shhedule Meeting
4 : Go for a run

#### 2. Organizing student grades

In [36]:
import numpy as np
# Create a list to store and calculate average grades for students
grades = [85, 92, 72, 90, 88]

# Adding a new grade 
grades.append(95)

# Calculating the average grade 
average_grade = sum(grades)/len(grades)
print(f"Average using mathemetical operations {average_grade}")
# Or
average_grades = np.mean(grades)

print(f"Average using np.mean(): {average_grade}")

# Find the highest and lowest grade
print(f"Highest grade : {max(grades)}, Lowest grade : {min(grades)}")

Average using mathemetical operations 87.0
Average using np.mean(): 87.0
Highest grade : 95, Lowest grade : 72

#### 3. Managing an inventory items

In [37]:
# Make a list of inventory items
inventory_items = ["Apple", "Bananas", "Oranges", "Grapes"]
print(f"Current inventory items : {inventory_items}")

# Add new item to the inventory_item's list
inventory_items.append("Strawberries")
print(f"Current inventory items : {inventory_items}")

# Remove an item from the list
inventory_items.remove("Bananas")
print(f"Current inventory items : {inventory_items}")

# Checking an item is in the list or not
item1 = "Bananas"
item2 = 'Oranges'
 
if item1 in inventory_items:
  print(f"{item1} is in the Inventory")
  print(f"{item2} is in the Inventory")
  print(f"{item2} is not in the inventory")
else:
  print(f"{item1} is not in the inventory")

if item2 in inventory_items:
  print(f"{item2} is in the Inventory")

else:
  print(f"{item2} is not in the inventory")

# Check the inventory
print("Inventory items are:")
item_count=1
for item in inventory_items:
  print(f"    {item_count} : {item}")
  item_count+=1

Current inventory items : ['Apple', 'Bananas', 'Oranges', 'Grapes']
Current inventory items : ['Apple', 'Bananas', 'Oranges', 'Grapes', 'Strawberries']
Current inventory items : ['Apple', 'Oranges', 'Grapes', 'Strawberries']
Bananas is not in the inventory
Oranges is in the Inventory
Inventory items are:
    1 : Apple
    2 : Oranges
    3 : Grapes
    4 : Strawberries

>### Functions in Python
>***What we're covering :***
 1. Introduction to function
 2. Defining function
 3. Calling function
 4. Function Parameters
 5. Default parameters
 6. Valiable-length Arguments varArgs
 7. Return statement

>**1. Introduction to function**

* A function is a block of code that perform a specific operation.
* It helps to organizing codes and improve readability

> Basic Syntax of a function:

**Note:** Press `ctrl + shift + space` To access the `Docstring` of a function.
<pre>
def function_name(parameters):
  """
  >Docstring : Describe the function.
  """
  >(Function body : for a specific operation)
  >return statement/expression/variables...
<pre/>

>**Why do we require functions :**
* For `Reusability` of a block of code.

In [38]:
# without function
num = 24
if num % 2 == 0:
  print("The number is even")
else:
  print("The number id odd")
num = 21
if num % 2 == 0:
  print("The number is even")
else:
  print("The number id odd")

The number is even
The number id odd

In [39]:
# Using function
def even_or_odd(num:int)->None:
  """
  This function will find a number is even or odd.
  parameters:
  num : An integer to check the number is even or odd
  return:  None

  """
  if num % 2 == 0:
    print("The number is even.")
  else:
    print("The number is odd")
    
# Calling function
even_or_odd(24)
even_or_odd(21)

The number is even.
The number is odd

In [40]:
# Functions with multiple parameters
def add(a, b):
  return a+b

result =add(2,4)
print(result)

6

In [41]:
# Default parameter
def greet(name = "Guest"):
  print(f"Hello! {name}.")

greet("Samitinjay")

Hello! Samitinjay.

In [42]:
greet()

Hello! Guest.

In [43]:
# Valiable length arguments
# Positional and keywords arguments
def print_numbers(*args):
  for num in args:
    print(num,end="  ")

print_numbers(1,2,3,4,5,6,7,1,12,2,2)

1  2  3  4  5  6  7  1  12  2  2

In [44]:
# keywords arguments
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} : {value}")

print_details(Name="Samitinjay", Age =25, Country="India")

Name : Samitinjay
Age : 25
Country : India

In [45]:
def print_details(*args, **kwargs):
  for val in args:
    print(val, end=" ")
  print()
  for key, value in kwargs.items():
    print(f"{key} : {value}", end="  ")

print_details(1,2,3,4,name="samit",age = 25, country = "India")

1 2 3 4
name : samit  age : 25  country : India

In [46]:
# Return statement/parameters
def multiply(a,b):
  """
  Returns: value of a and b, a*b
  """
  return a, b, a*b
result = multiply(2, 5)
print(result)

(2, 5, 10)

### **Examples of functions**

**Example 1. Temperature conversion**

In [47]:
def convert_temperature(temp,unit):# unit -> 'c' or 'f'
  """
  Convert temperature between celcius and fahrenheit.
  """
  unit = str.lower(unit)
  if unit == "c":
    return temp * (9/5) +32
  elif unit == "f":
    return (temp - 32) * 5/9
  else:
    return None
print(convert_temperature(25,"c"))
print(convert_temperature(77,"f"))

77.0
25.0

**Example 2. Password strength checker**

In [48]:
def is_strong_password(password):
  """
  Check if the password is strong or not
  """
  if len(password) < 8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char in '!@#$%^&*()_+.' for char in password):
    return False
  return True

# Calling the function
print(is_strong_password("SamitinjayMishra@123"))
print(is_strong_password("WeekPass"))

True
False

**Example 3. Calculate the total cost of item in a shoping cart**

In [49]:
def calculate_total_cost(cart):
  total_cost = 0

  for item in cart:
    total_cost+=item["price"]*item["quantity"]
  return total_cost

cart = [
  {'name' : "apple", "price":0.5,"quantity":4},
  {'name' : "banana", "price":0.3,"quantity":6},
  {'name' : "orange", "price":0.7,"quantity":3}
]
# Calling the function
print(f"{(calculate_total_cost(cart)):.2f}")

5.90

**Example 4. Check if a string is palindrom**

In [50]:
def check_palindrom(text):
  rev = text[::-1]
  if rev == text: return True
  else: return False
# Cak=lling the function
print(check_palindrom("Sam"))
print(check_palindrom("mam"))

False
True

**Example 5. Calculate the factorial of a number using recursion**

In [51]:
def factorial(num:int)->int:
  if num == 0:
    return 1
  else:
    return num * factorial(num - 1)
  
print(factorial(5))
print(factorial(6))

120
720

**Example 6. A function to read a file and count the frequency of words**

In [52]:
def count_frequency_of_word_in_a_file(file_path):
  word_count={}
  with open(file_path, 'r') as file:
    for line in file:
      words = line.split()
      for word in words:
        word = word.lower().strip("!.,\'\"?)()[]{}")
        word_count[word]=word_count.get(word,0)+1
  return word_count
file_path = "sample.txt"
print(count_frequency_of_word_in_a_file(file_path=file_path))

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'samitinjay': 2, 'mishra': 2, 'my': 1, 'name': 1, 'is': 1}


**Example 7. Validate Email Address**

In [53]:
import re
def is_valid_email(email):
  pattern = r"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9]+\.[a-zA-Z0-9-.]+$"
  return re.match(pattern,email) is not None

print(is_valid_email("samitinjay1999@gmail.com"))
print(is_valid_email("samitinjaymishra"))

True
False

### Lambda function in python

* Lambda function are small anonymous function defined using lambda keyword.

>**Note:** Anonymous function are function without a name.
* They can have any number if arguments but only one expression.
* Commonly used for sort operations or as an arguments to higher-order functions.
<pre>
Syntax:
lambda arguments: expression
<pre/>

In [54]:
def addition(a,b):
  return a+b

print(addition(2,3))

addition = lambda a,b:a+b
print(type(addition))
print(addition(2,3))

def even(num):
  if num%2==0:
    return True
  
print(even(24))

even1 = lambda num: num%2==0
print(even1(12))

def addition(x,y,z):return x+y+z

print(addition(12,13,14))

addition1 = lambda x,y,z : x+y+z
print(addition1(12,13,14))

5
<class 'function'>
5
True
True
39
39

In [55]:
# map()
numbers = [1,2,3,4,5,6]
def square(num):
  return num**2

print(square(2))

# We need a loop to make a square of each element in a list 
# Using map() applies a function to all the item of a collection

list(map(lambda x:x**2,numbers))

4

[1, 4, 9, 16, 25, 36]

#### Map function in Python

* The map() applies a given function to all the items in an iterable (list,tuple etc...) and returns a map object (in iterator).
* This is particularly useful for trancforming data in a list comprehentively.

In [56]:
l1 = [1, 2, 3, 4, 5, 6, 7]
def square(num):
    return num**2

# Using loops
square_list =[]
for i in l1:square_list.append(square(i))

print(square_list)

# Wsing map()
print(list(map(square, l1)))

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [57]:
# Lambda function with map()
numbers =[1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x:x**2,numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
# Can we map multiple iterables
numbers1 = [1,2,3] 
numbers2 = [4,5,6]
added_numbers = list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [59]:
# Use map to convert list of string to int
str_numbers =['1','2','3','4','5']
int_numbers = list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [60]:

words =["apple","banaba","cherry"]
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANABA', 'CHERRY']

In [61]:
from time import time

# Making a list usuing list comprehension 
start_time = time()
list3 = [num for num in range(1000000)]
end_time = time()
print(f"time to make a list :{(end_time-start_time):.5f} ")
print(list3[:5])

# Using for loop
start_time = time()
add_1_to_each_element=[]
for num in list3:
  add_1_to_each_element.append(num+1)
end_time = time()
print(f"time using for loop :{(end_time-start_time):.5f} ")
print(add_1_to_each_element[:5])

# Using map() with lambda function
start_time = time()
add_1_to_each_element = list(map(lambda x:x+1,list3))
end_time = time()
print(f"time using map :{(end_time-start_time):.5f} ")
print(add_1_to_each_element[:5])

# Using list comprehension
start_time = time()
add_1_to_each_element = [num + 1 for num in list3]
end_time = time()
print(f"time using list comprehension :{(end_time-start_time):.5f} ")
print(add_1_to_each_element[:5])

time to make a list :0.04932
[0, 1, 2, 3, 4]
time using for loop :0.19947
[1, 2, 3, 4, 5]
time using map :0.18391
[1, 2, 3, 4, 5]
time using list comprehension :0.08267
[1, 2, 3, 4, 5]

In [62]:
def get_name(person):
  return person["name"]

people =[
  {"name":"samitinjay", "age":25},
  {"name":"Lambu", "age":22},
  {"name":"Hambe Bamba Bamba", "age":21}
]
list(map(get_name,people))

['samitinjay', 'Lambu', 'Hambe Bamba Bamba']

### Filter function in python

* It is used to filter out  elements from an iterable (list, tuple etc...) based on a condition.

In [63]:
def even(num):
  if num%2==0:
    return True
lst = [1,2,3,4,5,6,7,8,9,10,11,12]
print(list(filter(even,lst)))

[2, 4, 6, 8, 10, 12]

In [64]:
# filter with lambda function
lst = [1,2,3,4,5,6,7,8,9,10,11,12]
print(list(filter(lambda x:x%2==0,lst)))

[2, 4, 6, 8, 10, 12]

In [65]:
# filter with lambda function and multipla conditions
lst = [1,2,3,4,5,6,7,8,9,10,11,12]

even_and_grater_than_five = list(filter(lambda x: x%2==0 and x>5, lst))
print(even_and_grater_than_five)

[6, 8, 10, 12]

In [66]:
# Filter() to check if age is grater than 25 in dictonary
people =[
  {"name":"samitinjay", "age":25},
  {"name":"Lambu", "age":32},
  {"name":"Hambe Bamba Bamba", "age":61},
  {"name":"LOmbu", "age":21},
  {"name":"dambu", "age":20},
]

# Using function
def age_grater_than_25(person):
  return person['age']>25

print(list(filter(age_grater_than_25,people)))

# Using lambda function
print(list(filter(lambda person:person['age']>25,people)))

[{'name': 'Lambu', 'age': 32}, {'name': 'Hambe Bamba Bamba', 'age': 61}]
[{'name': 'Lambu', 'age': 32}, {'name': 'Hambe Bamba Bamba', 'age': 61}]

In [67]:
from package import math

In [68]:
math.addition(2,3)

5

In [69]:
from package.subpackage import basic_math as bm

bm.multiply(2,3)

6

### In-built Libraries in python

In [70]:
import array 
arr = array.array("i",[1,2,3,4])
arr

array('i', [1, 2, 3, 4])

In [71]:
import math
print(int(math.sqrt(4)))
import random
random.seed(42) # Generates same random number each time the code run
print(int(random.randint(1,10)))
print(int(random.randrange(1,10)))
print(int(random.random()))

2
2
1
0

In [72]:
import os
print(os.getcwd())

c:\Users\Pavilion\OneDrive\Desktop\UdemyMLCourse\1-Python-Basics

In [73]:
os.mkdir('test-dir')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'test-dir'

In [ ]:
# High level operations on file and collection od files 
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

### Data Serializtion

In [ ]:
import json
data = {'name':'Samitinjay',
        'age':25}

In [ ]:
json_str = json.dumps(data)
print(json_str,type(json_str))

{"name": "Samitinjay", "age": 25} <class 'str'>

In [ ]:
parsed_data = json.loads(json_str)
print(parsed_data,type(parsed_data))

{'name': 'Samitinjay', 'age': 25} <class 'dict'>

In [ ]:
# csv
import csv
with open('example.csv',mode='w',newline='') as file:
  writer = csv.writer(file)
  writer.writerow(['name','age'])
  writer.writerow(['Samitinjay',25])

with open('example.csv',mode='r') as file:
  reader = csv.reader(file)
  for row in reader:
    print(row)

['name', 'age']
['Samitinjay', '25']

In [ ]:
# datetime library
from datetime import datetime,timedelta

now =datetime.now()
print(now)

2024-08-22 01:09:31.174688

In [ ]:
yesterday =now -timedelta()
print(yesterday)

2024-08-22 01:09:31.174688

In [ ]:
# Time library
import time 
print(time.time())
time.sleep(5)
print(time.time())

1724269314.7511437
1724269319.7518325

In [ ]:
# Regular Expression
import re

pattern =  r"\d+"

text ="There are 123. apples 456"
match = re.search(pattern,text)

print(match.group())

123


### File operation in python

In [ ]:
# read a whole file 

with open("example.txt",'r') as file:
  content = file.read()
  print(content)

File handeling
Lorem ipsum dolor, sit amet
eaque quos expedita quis volu
obcaecati qui fugit nesc
molestiae.

In [ ]:
# read a file line by line
with open('example.txt','r') as file:
  for line in file:
    print(line.strip()) # .strip() :Removes the new line character

File handeling
Lorem ipsum dolor, sit amet
eaque quos expedita quis volu
obcaecati qui fugit nesc
molestiae.

In [ ]:
# Open a file for writing 
with open("example.txt",'w') as file:
  file.write("Hello!, World\n")
  file.write("This is a new line.")

with open("example.txt",'r') as file:
  print(file.read()) # Conten is overwritten

Hello!, World
This is a new line.

In [ ]:
# Write without overwritting a file

with open("example.txt",'a') as file:
  file.write("\nAppend operation taking place")

with open("example.txt",'r') as file:
  print(file.read())

Hello!, World
This is a new line.Append operation taking place
Append operation taking place

In [ ]:
# Writting list of lines to a file
lines = ['first line\n','second line\n','third line\n']

with open("example.txt","a") as file:
  file.writelines(lines)

with open("example.txt",'r') as file:
  print(file.read())

Hello!, World
This is a new line.Append operation taking place
Append operation taking placefirst line
second line
third line

In [ ]:
# Binary files
data = b'\x00\x01\x02\x03\x04'
with open("example.bin",'wb') as file:
  file.write(data)

with open("example.bin",'rb') as file:
  print(file.read())

b'\x00\x01\x02\x03\x04'

In [ ]:
# Read the content from the source text file and write it to a destination text file
with open("example.txt",'r') as file:
  content=file.read()
with open("destination1.txt",'w') as file:
  file.write(content)

with open("destination1.txt","r") as file:
  print(file.read())

Hello!, World
This is a new line.Append operation taking place
Append operation taking placefirst line
second line
third line

In [ ]:
# Read a text file and count the number of characters words and lines
# with open(file_path,'r') as file:
#     all_text = file.read()
#     print("All text:\n",all_text,"\n")
def count_text_file(file_path):
  with open(file_path,'r') as file:
    lines = file.readlines()
    line_count =len(lines)
    word_count = sum(len(line.split()) for line in lines)
    char_count = sum(len(line) for line in lines)

    # print("Lines are:\n",lines,"\n")
    # print("line counts: ",line_count ,"\n")
    # print("Word count :", word_count)
    # print("Character count:", char_count)
    return {"line_count":line_count, "words count":word_count,"char count":char_count}

count_dict = count_text_file("example.txt")
# print(count_dict)
import pandas as pd

count_df = pd.DataFrame(count_dict,index=["counts"])
count_df.T

             counts
line_count        5
words count      19
char count      126

In [ ]:
# Writing and reading a file
with open("example.txt","w+") as file:
  file.write("Hello! World\n")
  file.write("This is new line")
  
  # Move the file cursor to the begining
  file.seek(0)
  
  # Read the content in the file
  print(file.read())

Hello! World
This is new line

In [ ]:
# Create a new directory
import os
new_directory = "new_package"
os.mkdir(new_directory)
print(f"Directory '{new_directory}' is created")

Directory 'new_package' is created

In [ ]:
# List all the files and folders
items = os.listdir("./")
items

['1.0-basic.ipynb',
 'destination.txt',
 'destination1.txt',
 'example.bin',
 'example.csv',
 'example.txt',
 'new_package',
 'package',
 'requirements.txt',
 'sample.txt',
 'source.txt',
 'test-dir',
 'test.ipynb']

In [ ]:
# Joining paths
dir_name ="folder"
file_name = "file.txt"
full_path = os.path.join(os.getcwd(),dir_name,file_name)
print(full_path)

c:\Users\Pavilion\OneDrive\Desktop\UdemyMLCourse\1-Python-Basics\folder\file.txt

import os
path = input("Enter file name...")
if os.path.exists(path):
  print(f"The path '{path}' already exist")
else:
  ui = input(f"The path doesn't exist. wanna create?(y/n)").lower()
  if ui=='y':
    with open(path,'w') as file:
      print(f"file '{path}' is created")
      ui2 = input("wanna write sonething?(y/n)")
      if ui2 =='y':
        text = input("Enter text...")
        file.write(text)
        print("Write successful.\nThank You...")
      elif ui2 == "n":
        print("OK!, Have a good day")
      else:
        print("SORRY! wrong command...")
  elif ui == 'n':
    print("Thank You!")
  else:
        print("SORRY! wrong command...")

### Exception Handeling in python

-> Exception handeling in python allows you to handle error gracefully and corrective action without stopping the execution of the program .

-> Exceptions are event that disrupt the normal flow of a program. They occur when an error is encountered during the program execution.

-> Some common Exception in python are:
 
 * ZeroDivisionError: Devided by zero.
 * FileNotFoundError: FIle not found.
 * ValueError: Invalid Value

In [5]:
# Exception try,except block
try:
 a=b
except NameError as ex:
 print(f"{ex}")

name 'b' is not defined

In [10]:
try:
  result=1/0
except ZeroDivisionError as ex:
  print(f"Error: {ex}")
  print("Denominator should be greater than zero.")

Error: division by zero
Denominator should be greater than zero.

In [13]:
try:
  result=1/2
  a=b
except ZeroDivisionError as ex:
  print(f"Error: {ex}")
  print("Denominator should be greater than zero.")
except Exception as ex1:
  print(ex1)
  print("Main exception got caught here.")

name 'b' is not defined
Main exception got caught here.

In [19]:
try:
  num=int(input("Enter a number"))
  result = 10/num
except ValueError:
  print("This is not a valid number")
except ZeroDivisionError:
  print("Enter denominator grater than zero")
except Exception as ax:
  print(ex)

Enter denominator grater than zero
End

In [21]:
# Try, except, else block
try:
  num = int(input("Enter a number"))
  result = 10/num
except ValueError:
  print("Not a valid number")
except ZeroDivisionError:
  print("Devision by zero")
except Exception as ex:
  print(ex)
else:
  print(f"The result is {result}")

The result is 5.0

In [25]:
# try, except, else, finally block
try:
  num = int(input("Enter a number"))
  result = 10/num
except ValueError:
  print("Not a valid number")
except ZeroDivisionError:
  print("Devision by zero")
except Exception as ex:
  print(ex)
else:
  print(f"The result is {result}") # In case of no error else block will be executed
finally:
  print("Execution complete.") # At the end it will get executed

The result is 0.8333333333333334
Execution complete.

### Examples of file handeling and exception handeling

In [34]:
try:
  file = open('example3.txt','r')
  content = file.read()
  print(content)
except FileNotFoundError:
  print("The file doesn' exist")
except Exception as ex:
  print(ex)
finally:
  if 'file' in locals() and not file.closed:
    print(file.closed)
    file.close()
    print("File closed")

False
File closed

#### Custom Exception

In [1]:
class Error(Exception):
  pass

class dobException(Error):
  pass

In [5]:
year = int(input("Enter the dob"))
age = 2024 - year
try:
  if age <=30 and age>=20:
    print(f"Great your age is {age}.\nThe age is valid so you can apply for the exam.")
  else:
    raise dobException
except dobException:
  print("Sorry, age should be grater than 20 and less than 30.")

Great your age is 25.
The age is valid so you can apply for the exam.

### Object Oriented Programming in Python

In [6]:
# Next .ipynb file...