># **Pabdas (DataFrame and series)**

In [2]:
import pandas as pd

In [3]:
# panda Series 
data =  [1,2,3,4,5,6]
series = pd.Series(data)
print(f"Series : {series} type : {type(series)}")

Series : 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64 type : <class 'pandas.core.series.Series'>

In [4]:
# Create a series from dict
data ={
  'a':1,
  'b':2,
  'c':3
}
series_dict  = pd.Series(data)
print(f"Series_dict :\n{series_dict}, type : {type(series_dict)}")

Series_dict :
a    1
b    2
c    3
dtype: int64, type : <class 'pandas.core.series.Series'>

In [5]:
data = [10,20,30]
index = ['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [10]:
# DataFrame 
# Creating a DataFrame from a dictionary of list
data={
  'Name':['Samitinjay','Sam',"samit"],
  "Age":[25,24,23],
  "City":['Bangalore', "Bhubaneswar","New York"]
}

df = pd.DataFrame(data)
print(df,"\n",type(df))

         Name  Age         City
0  Samitinjay   25    Bangalore
1         Sam   24  Bhubaneswar
2       samit   23     New York
 <class 'pandas.core.frame.DataFrame'>

In [12]:
import numpy as np
np.array(data)

array({'Name': ['Samitinjay', 'Sam', 'samit'], 'Age': [25, 24, 23], 'City': ['Bangalore', 'Bhubaneswar', 'New York']},
      dtype=object)

In [13]:
np.array(df)

array([['Samitinjay', 25, 'Bangalore'],
       ['Sam', 24, 'Bhubaneswar'],
       ['samit', 23, 'New York']], dtype=object)

In [16]:
# Create a DataFrame from a list of dictioanry
data=[
  {'Name':'Samitinjay','Age':25,'City' : "Bhubaneswar"},
  {'Name':'Samit','Age':24,'City' : "Bangalore"},
  {'Name':'Sam','Age':23,'City' : "Deogarh"},
  {'Name':'Kanha','Age':22,'City' : "Jagamara"},
]

In [17]:
df =pd.DataFrame(data)
print(df)

         Name  Age         City
0  Samitinjay   25  Bhubaneswar
1       Samit   24    Bangalore
2         Sam   23      Deogarh
3       Kanha   22     Jagamara