In [42]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [43]:
from sklearn.model_selection import train_test_split
X,y=load_iris(return_X_y=True)

In [44]:
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [45]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [46]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [47]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(X_train,y_train)

In [48]:
y_preds = gnb.predict(X_test)

In [49]:
gnb.predict_proba(X_test)

array([[4.15880005e-088, 9.95527834e-001, 4.47216606e-003],
       [1.00000000e+000, 1.31031235e-013, 2.21772205e-020],
       [9.83170191e-285, 2.70138564e-012, 1.00000000e+000],
       [9.54745274e-092, 9.74861431e-001, 2.51385686e-002],
       [1.08679560e-103, 8.31910700e-001, 1.68089300e-001],
       [1.00000000e+000, 6.77693844e-013, 7.14891338e-021],
       [2.79985841e-051, 9.99963925e-001, 3.60749274e-005],
       [3.47130487e-172, 4.26099520e-007, 9.99999574e-001],
       [8.87424368e-094, 9.93578115e-001, 6.42188515e-003],
       [1.01525828e-057, 9.99952885e-001, 4.71152410e-005],
       [3.89708229e-148, 2.58773323e-004, 9.99741227e-001],
       [1.00000000e+000, 1.41103765e-016, 9.36331484e-025],
       [1.00000000e+000, 2.50761563e-016, 5.99383407e-024],
       [1.00000000e+000, 3.02382725e-016, 3.69654979e-024],
       [1.00000000e+000, 2.31820777e-016, 1.18856457e-023],
       [6.09343428e-105, 4.23901472e-001, 5.76098528e-001],
       [8.42661111e-199, 2.69249362e-007, 9.99999731e-001],
       [6.52023588e-054, 9.99988759e-001, 1.12411404e-005],
       [1.85064198e-082, 9.98192916e-001, 1.80708359e-003],
       [2.00959758e-187, 1.91018904e-006, 9.99998090e-001],
       [1.00000000e+000, 2.65202286e-015, 2.93876280e-023],
       [2.54826161e-124, 7.04850246e-002, 9.29514975e-001],
       [1.00000000e+000, 4.38859929e-013, 4.39653488e-021],
       [2.47133593e-180, 1.25318934e-005, 9.99987468e-001],
       [1.50196100e-230, 1.66729427e-010, 1.00000000e+000],
       [8.12416525e-176, 6.01661019e-007, 9.99999398e-001],
       [4.01153148e-174, 5.53887721e-004, 9.99446112e-001],
       [1.49290819e-213, 4.90389759e-009, 9.99999995e-001],
       [1.00000000e+000, 1.26374615e-014, 2.70463157e-023],
       [1.00000000e+000, 6.30966171e-015, 5.21247786e-023],
       [1.00000000e+000, 1.43781135e-018, 1.34815267e-026],
       [1.00000000e+000, 2.94690475e-016, 2.44844736e-022],
       [3.06773036e-086, 9.50226689e-001, 4.97733112e-002],
       [1.00000000e+000, 7.82436475e-016, 1.73378973e-023],
       [1.00000000e+000, 6.90210803e-017, 3.44647130e-025],
       [1.50440053e-136, 2.55805525e-002, 9.74419447e-001],
       [1.06079421e-092, 8.70420917e-001, 1.29579083e-001],
       [1.00000000e+000, 3.62990944e-016, 1.08673752e-023],
       [1.00000000e+000, 2.37802042e-017, 6.82165469e-025],
       [1.00000000e+000, 2.05653444e-019, 1.18536396e-025],
       [8.59789913e-139, 2.32923243e-002, 9.76707676e-001],
       [4.22236189e-095, 7.18923730e-001, 2.81076270e-001],
       [1.06203266e-102, 6.19034829e-001, 3.80965171e-001],
       [1.00000000e+000, 1.28501256e-015, 5.14593617e-023],
       [1.00000000e+000, 1.85035419e-016, 1.39173980e-023]])

In [50]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(confusion_matrix(y_test,y_preds))
print(accuracy_score(y_test,y_preds))
print(classification_report(y_test,y_preds))

[[19  0  0]
 [ 0 12  1]
 [ 0  0 13]]
0.9777777777777777
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       1.00      0.92      0.96        13
           2       0.93      1.00      0.96        13

    accuracy                           0.98        45
   macro avg       0.98      0.97      0.97        45
weighted avg       0.98      0.98      0.98        45

In [102]:
import seaborn as sns
df = sns.load_dataset('tips')

In [103]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [104]:
print(df['day'].value_counts(),df['sex'].value_counts(),df['smoker'].value_counts(),df['time'].value_counts(),)

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64 sex
Male      157
Female     87
Name: count, dtype: int64 smoker
No     151
Yes     93
Name: count, dtype: int64 time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [106]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer
df['smoker'] = le2.fit_transform(df['smoker'])
df['smoker'] = le2.transform(df['smoker'])

In [107]:
df.head()

   total_bill   tip     sex  smoker  day    time  size
0       16.99  1.01  Female       0  Sun  Dinner     2
1       10.34  1.66    Male       0  Sun  Dinner     3
2       21.01  3.50    Male       0  Sun  Dinner     3
3       23.68  3.31    Male       0  Sun  Dinner     2
4       24.59  3.61  Female       0  Sun  Dinner     4

In [108]:
df.smoker.value_counts()

smoker
0    151
1     93
Name: count, dtype: int64

In [109]:
X = df.drop(['total_bill','smoker','tip'],axis=1)
y = df['smoker']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [110]:
le1 = LabelEncoder()
le2 = LabelEncoder()

X_train['sex'] = le1.fit_transform(X_train['sex'])
X_test['sex'] = le1.transform(X_test['sex'])

X_train['time'] = le2.fit_transform(X_train['time'])
X_test['time'] = le2.transform(X_test['time'])

In [113]:
X_train.head(),'-------------------------',X_test.head()

(     sex  day  time  size
 234    1  Sat     0     2
 227    1  Sat     0     4
 180    1  Sun     0     4
 5      1  Sun     0     4
 56     1  Sat     0     4,
 '-------------------------',
      sex   day  time  size
 24     1   Sat     0     2
 6      1   Sun     0     2
 153    1   Sun     0     4
 211    1   Sat     0     4
 198    0  Thur     1     2)

In [114]:
ct = ColumnTransformer(transformers=[('onehot',OneHotEncoder(drop='first'),
                                      ['day'])],# Here [3] list of column index to apply the transformation
                                               # A list of the column names can be specified instead.
                       remainder='passthrough')

In [115]:
X_train

     sex  day  time  size
234    1  Sat     0     2
227    1  Sat     0     4
180    1  Sun     0     4
5      1  Sun     0     4
56     1  Sat     0     4
..   ...  ...   ...   ...
106    1  Sat     0     2
14     0  Sun     0     2
92     0  Fri     0     2
179    1  Sun     0     2
102    0  Sat     0     3

[170 rows x 4 columns]

In [116]:
X_train_transformed = ct.fit_transform(X_train)
X_test_transformed = ct.transform(X_test)

In [117]:
X_train_transformed

array([[1., 0., 0., 1., 0., 2.],
       [1., 0., 0., 1., 0., 4.],
       [0., 1., 0., 1., 0., 4.],
       ...,
       [0., 0., 0., 0., 0., 2.],
       [0., 1., 0., 1., 0., 2.],
       [1., 0., 0., 0., 0., 3.]])

In [119]:
from sklearn.naive_bayes import BernoulliNB,MultinomialNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
gnb = GaussianNB().fit(X_train_transformed,y_train)
y_preds = gnb.predict(X_test_transformed)
print('GaussianNB')
print(accuracy_score(y_test,y_preds))
print(confusion_matrix(y_test,y_preds))
print(classification_report(y_test,y_preds))

GaussianNB
0.6486486486486487
[[34 13]
 [13 14]]
              precision    recall  f1-score   support

           0       0.72      0.72      0.72        47
           1       0.52      0.52      0.52        27

    accuracy                           0.65        74
   macro avg       0.62      0.62      0.62        74
weighted avg       0.65      0.65      0.65        74

In [120]:
bnb = BernoulliNB().fit(X_train_transformed,y_train)
y_preds = bnb.predict(X_test_transformed)
print('BernoulliNB')

print(accuracy_score(y_test,y_preds))
print(confusion_matrix(y_test,y_preds))
print(classification_report(y_test,y_preds))

BernoulliNB
0.6081081081081081
[[32 15]
 [14 13]]
              precision    recall  f1-score   support

           0       0.70      0.68      0.69        47
           1       0.46      0.48      0.47        27

    accuracy                           0.61        74
   macro avg       0.58      0.58      0.58        74
weighted avg       0.61      0.61      0.61        74

In [121]:
mnb = MultinomialNB().fit(X_train_transformed,y_train)
y_preds = mnb.predict(X_test_transformed)
print('MultinomialNB')

print(accuracy_score(y_test,y_preds))
print(confusion_matrix(y_test,y_preds))
print(classification_report(y_test,y_preds))

MultinomialNB
0.6081081081081081
[[32 15]
 [14 13]]
              precision    recall  f1-score   support

           0       0.70      0.68      0.69        47
           1       0.46      0.48      0.47        27

    accuracy                           0.61        74
   macro avg       0.58      0.58      0.58        74
weighted avg       0.61      0.61      0.61        74